.resimg{
    background: url(../Images/IMG-20240111-WA0016.jpg );
    background-repeat: no-repeat;
    min-height: 90%;
    background-size: cover;

}
.resimg::after {
    content: '';
    display: block;
    position: absolute;
    top: 110px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #5D5FEF80;
    /* z-index: -1000; */
    max-height: 90%;
  }
@media screen and (max-width: 950px) {
    .resimg{
        background: url(../Images/IMG-20240111-WA0016.jpg );
        background-repeat: no-repeat;
        min-height: 90%;
        background-size: cover;
    
    }
    .resimg::after {
        content: '';
        display: block;
        position: absolute;
        top: 72px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #5D5FEF80;
        /* z-index: -1000; */
        max-height: 100%;
      }
}